include home.pug

.cont_wid
  if successmsg
    .alert.alert-success
      strong #{successmsg}
  h2.mt-3 Add New User 
  .sec.show_border_top
    form.form-horizontal(action='/add_user', method='post', encType='application/x-www-form-urlencoded' onsubmit="return checkConformPass()")
      .form-group.row.mt-4
        label.col-sm-2.col-form-label(for='text') Username:
        .col-sm-10
          input.form-control(type='text' placeholder='Enter Username' name='username' oninvalid="this.setCustomValidity('Please Enter username')" maxlength="6"  required)
      .form-group.row
        label.col-sm-2.col-form-label(for='text') First Name:
        .col-sm-10
          input.form-control(type='text' placeholder='Enter First Name' name='first_name' required)
      .form-group.row
        label.col-sm-2.col-form-label(for='text') Middle Name:
        .col-sm-10
          input.form-control(type='text' placeholder='Enter Middle Name' name='middle_name')
      .form-group.row
        label.col-sm-2.col-form-label(for='text') Last Name:
        .col-sm-10
          input.form-control(type='text' placeholder='Enter Last Name' name='last_name' required)
      .form-group.row
        label.col-sm-2.col-form-label(for='text') Gender:
        .col-sm-10
          input.form-control(type='text' placeholder='gender' name='gender')
      .form-group.row
        label.col-sm-2.col-form-label(for='text') Email:
        .col-sm-10
          input.form-control(type='text' placeholder='Email id' name='email_id')
      .form-group.row
        label.col-sm-2.col-form-label(for='text') Mobile:
        .col-sm-10
          input.form-control(type='text' placeholder='8888888888' maxlength="10" name='mobile' required)
      .form-group.row
        label.col-sm-2.col-form-label(for='pwd') Password:
        .col-sm-10
          input#pwd.form-control(type='password' placeholder='Enter password' name='pwd' required)
      .form-group.row
        label.col-sm-2.col-form-label(for='cndpwd') Conform Password:
        .col-sm-10
          input#cnfpwd.form-control(type='password' placeholder='Enter Conform password' name='cnfpwd' required)
      .form-group.row
        label.col-sm-2.col-form-label(for='role') Role:
        .col-sm-10
          select.form-control.w-25(title='select', id='role', name='role')
            each role in roles
              option(value=role) #{role}
      button.btn.btn-success.center.mt-2(type='submit') Create

script(src='/js/main.js')