doctype html
html(lang='en')
  head
    title GEM ENGSERV
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', type='text/css', href='/css/full.css')
    link(rel='stylesheet', href='/vendor/bootstrap/css/bootstrap.min.css')
    script(src='/vendor/jquery/jquery-3.2.1.min.js')
    
  body
    .topnav
      a.gem-logo-anc(href="http://www.gemengserv.com/")
        img.gem-logo(src="images/gem.png")
      a(href='/index') Home
      .topnav-right
        if role != 2
          a(href='/all_users') Users
        else
          a
        if role == 3
          a(href='/add_user') Add User
        else
          a
        .dropdown
          img.img-responsive(src='/images/icons/maleUser.png', alt='Cinque Terre', width="30")
          .dropdown-content
            p.drop-cont Welcome #{firstName}
            a.drop-cont(href='/logout') Sign Out
//- script(src='js/main.js')