doctype html
head
  title Login
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='vendor/bootstrap/css/bootstrap.min.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='/css/login.css')
//-   link(rel='stylesheet' type='text/css' href='css/main.css')


  // ===============================================================================================
body
  form(action='/index', method="POST", encType='application/x-www-form-urlencoded')
    .imgcontainer
      img.avatar(src='images/img-01.png', alt='Avatar')
    .container
      label(for='uname')
        b Username
      input(type='text', placeholder='Enter Username', name='uname', required='')
      label(for='psw')
        b Password
      input(type='password', placeholder='Enter Password', name='psw', required='')
      button(type='submit' name='login' value='login') Login
      if err
        .alert.alert-danger
            strong #{err}
      //- label
        input(type='checkbox', checked='checked', name='remember')
        |  Remember me
  //-   .container(style='background-color:#f1f1f1')
      button.cancelbtn(type='button') Cancel
      span.psw
        | Forgot 
        a(href='#') password?
// ===============================================================================================
//- script(src='js/main.js')
