include home.pug

.user.commonInSecAndUser
    table.table
        thead
            tr
                th #
                th Full Name
                th UserName
                th Password
                th Mobile
                th Email
        tbody
        - var i = 1
        each user in users
            tr
                th #{i}
                td #{user.first_name + " " + user.last_name}
                if user.username
                    td #{user.username}
                if user.password
                    td #{user.password}
                if user.mobile
                    td #{user.mobile}
                if user.email
                    td #{user.email}
                - i = i+1
script(src='js/main.js')