body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.cont_wid{
  width: 70%;
  margin-left: 15%;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.gem-logo{
  width: 100px;
  height: 70px;
  margin-left: 5px;
  cursor: pointer;
}

.gem-logo-anc{
  padding: 0px !important;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  /* background-color: #4CAF50; */
  color: white;
}

.topnav-right {
  float: right;
}

.dropdown {
  position: relative;
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 17px;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  /* min-width: 160px; */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  right: 1px;
}

.drop-cont{
  padding: 8px 16px !important;
  color: dimgrey !important;
}

.drop-cont:hover {
  background-color: #ddd !important;
  color: black !important;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.table td, .table th {
  border-top: 0px !important;
}